.book-container {
    position: relative;
    width: 100px; 
    height: 300px;
  }
  
  .pages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
  }
  
  .pages:nth-child(11),
.pages:nth-child(12) {
    width: 100%;
    height: 100%;
}